In [1]:
import pandas as pd

C:\Users\Alumno\AppData\Local\Temp\ipykernel_8100\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
CO2 = pd.read_csv('Emisiones_CO2.csv', encoding='latin-1', sep='|')

In [3]:
CO2.head(10)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
5,ABW,Aruba,América Latina y Caribe,1965,NaN,NaN
6,ABW,Aruba,América Latina y Caribe,1966,NaN,NaN
7,ABW,Aruba,América Latina y Caribe,1967,NaN,NaN
8,ABW,Aruba,América Latina y Caribe,1968,NaN,NaN
9,ABW,Aruba,América Latina y Caribe,1969,NaN,NaN

In [4]:
CO2.info

<bound method DataFrame.info of       Código de país Nombre del país                   Región   Año  CO2 (kt)  \
0                ABW           Aruba  América Latina y Caribe  1960       NaN
1                ABW           Aruba  América Latina y Caribe  1961       NaN
2                ABW           Aruba  América Latina y Caribe  1962       NaN
3                ABW           Aruba  América Latina y Caribe  1963       NaN
4                ABW           Aruba  América Latina y Caribe  1964       NaN
...              ...             ...                      ...   ...       ...
11122            ZWE        Zimbabue      África subsahariana  2007  9.732,22
11123            ZWE        Zimbabue      África subsahariana  2008  7.682,37
11124            ZWE        Zimbabue      África subsahariana  2009  8.239,75
11125            ZWE        Zimbabue      África subsahariana  2010  9.028,15
11126            ZWE        Zimbabue      África subsahariana  2011  9.860,56

      CO2 per cápita (toneladas métricas)
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
11122                         0,731866885
11123                         0,569255428
11124                         0,600521157
11125                         0,646072745
11126                         0,691697897

[11127 rows x 6 columns]>

In [5]:
CO2.describe()

                Año
count  11127.000000
mean    1985.502292
std       15.007733
min     1960.000000
25%     1973.000000
50%     1986.000000
75%     1998.500000
max     2011.000000

In [6]:
CO2=CO2.dropna()

In [7]:
CO2.dropna()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,"179,683","2,868319392"
27,ABW,Aruba,América Latina y Caribe,1987,"447,374","7,234964017"
28,ABW,Aruba,América Latina y Caribe,1988,"612,389","10,026507523"
29,ABW,Aruba,América Latina y Caribe,1989,"649,059","10,634732599"
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83","29,620164768"
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22","0,731866885"
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37","0,569255428"
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75","0,600521157"
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15","0,646072745"
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56","0,691697897"

In [8]:
CO2['CO2 (kt)'] = CO2['CO2 (kt)'].str.replace(',', '')
CO2['CO2 (kt)'] = CO2['CO2 (kt)'].str.replace('.', '')
CO2['CO2 (kt)'] = CO2['CO2 (kt)'].astype(int)

C:\Users\Alumno\AppData\Local\Temp\ipykernel_8100\2458368887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO2['CO2 (kt)'] = CO2['CO2 (kt)'].str.replace(',', '')
C:\Users\Alumno\AppData\Local\Temp\ipykernel_8100\2458368887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO2['CO2 (kt)'] = CO2['CO2 (kt)'].str.replace('.', '')
C:\Users\Alumno\AppData\Local\Temp\ipykernel_8100\2458368887.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO2['CO2 (kt)'] = CO2['CO2 (kt)'].astype(int)

In [9]:
CO2.to_csv('CO2_limpio.csv')

In [12]:
CO2['CO2 per cápita (toneladas métricas)'] = CO2['CO2 per cápita (toneladas métricas)'].str.replace(',', '.')
CO2['CO2 per cápita (toneladas métricas)'] = CO2['CO2 per cápita (toneladas métricas)'].astype(float)

C:\Users\Alumno\AppData\Local\Temp\ipykernel_8100\2238486412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO2['CO2 per cápita (toneladas métricas)'] = CO2['CO2 per cápita (toneladas métricas)'].str.replace(',', '.')
C:\Users\Alumno\AppData\Local\Temp\ipykernel_8100\2238486412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO2['CO2 per cápita (toneladas métricas)'] = CO2['CO2 per cápita (toneladas métricas)'].astype(float)

In [13]:
CO2.describe()

               Año      CO2 (kt)  CO2 per cápita (toneladas métricas)
count  9029.000000  9.029000e+03                          9029.000000
mean   1986.856463  9.937926e+06                             4.340822
std      15.062071  4.663095e+07                             7.560692
min    1960.000000  3.667000e+03                             0.000580
25%    1974.000000  2.053520e+05                             0.348972
50%    1988.000000  6.120220e+05                             1.450587
75%    2000.000000  3.991163e+06                             5.953205
max    2011.000000  9.019518e+08                            99.840439

In [18]:
#Cuales son los paises?
#Cuantos paises son?
CO2['Nombre del país'].unique()

array(['Aruba', 'Andorra', 'Afganistán', 'Angola', 'Albania',
       'Emiratos Árabes Unidos', 'Argentina', 'Armenia',
       'Antigua y Barbuda', 'Australia', 'Austria', 'Azerbaiyán',
       'Burundi', 'Bélgica', 'Benín', 'Burkina Faso', 'Bangladés',
       'Bulgaria', 'Baréin', 'Bahamas', 'Bosnia y Herzegovina',
       'Bielorrusia', 'Belice', 'Bermudas', 'Bolivia', 'Brasil',
       'Barbados', 'Brunéi', 'Bután', 'Botsuana',
       'República Centroafricana', 'Canadá', 'Suiza', 'Chile', 'China',
       'Costa de Marfil', 'Camerún', 'Congo (República)', 'Colombia',
       'Comoras', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Islas Caimán',
       'Chipre', 'República Checa', 'Alemania', 'Yibuti', 'Dominica',
       'Dinamarca', 'República Dominicana', 'Argelia', 'Ecuador',
       'Egipto', 'Eritrea', 'España', 'Estonia', 'Etiopía', 'Finlandia',
       'Fiyi', 'Francia', 'Islas Feroe', 'Micronesia (Estados Federados)',
       'Gabón', 'Reino Unido', 'Georgia', 'Ghana', 'Guinea', 'Gambia',
       'Guinea-Bisáu', 'Guinea Ecuatorial', 'Grecia', 'Granada',
       'Groenlandia', 'Guatemala', 'Guyana',
       'Hong Kong (RAE, República Popular China)', 'Honduras', 'Croacia',
       'Haití', 'Hungría', 'Indonesia', 'India', 'Irlanda', 'Irán',
       'Irak', 'Islandia', 'Israel', 'Italia', 'Jamaica', 'Jordania',
       'Japón', 'Kazajistán', 'Kenia', 'Kirguistán', 'Camboya',
       'Kiribati', 'San Cristóbal y Nieves', 'Corea (República)',
       'Kuwait', 'Laos', 'Líbano', 'Liberia', 'Libia', 'Santa Lucía',
       'Liechtenstein', 'Sri Lanka', 'Lesoto', 'Lituania', 'Luxemburgo',
       'Letonia', 'Macao (RAE, República Popular China)', 'Marruecos',
       'Moldavia', 'Madagascar', 'Maldivas', 'México', 'Islas Marshall',
       'Macedonia (Antigua República Yugoslava)', 'Mali', 'Malta',
       'Birmania', 'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania',
       'Mauricio', 'Malaui', 'Malasia', 'Namibia', 'Nueva Caledonia',
       'Níger', 'Nigeria', 'Nicaragua', 'Países Bajos', 'Noruega',
       'Nepal', 'Nueva Zelanda', 'Omán', 'Pakistán', 'Panamá', 'Perú',
       'Filipinas', 'Palaos', 'Papúa Nueva Guinea', 'Polonia',
       'Corea (República Popular Democrática)', 'Portugal', 'Paraguay',
       'Polinesia Francesa', 'Catar', 'Rumania', 'Rusia', 'Ruanda',
       'Arabia Saudí', 'Sudán', 'Senegal', 'Singapur', 'Islas Salomón',
       'Sierra Leona', 'El Salvador', 'Somalia', 'Serbia',
       'Santo Tomé y Príncipe', 'Surinam', 'Eslovaquia', 'Eslovenia',
       'Suecia', 'Suazilandia', 'Seychelles', 'Siria',
       'Islas Turcas y Caicos', 'Chad', 'Togo', 'Tailandia', 'Tayikistán',
       'Turkmenistán', 'Timor Oriental', 'Tonga', 'Trinidad y Tobago',
       'Túnez', 'Turquía', 'Tanzania', 'Uganda', 'Ucrania', 'Uruguay',
       'Estados Unidos', 'Uzbekistán', 'San Vicente y las Granadinas',
       'Venezuela', 'Vietnam', 'Vanuatu', 'Estado de Palestina', 'Samoa',
       'Yemen', 'Sudáfrica', 'Congo (República Democrática)', 'Zambia',
       'Zimbabue'], dtype=object)

In [20]:
#Cuales son los codigos de paises?
#Cuantos codigos de paises son?
CO2['Código de país'].unique()

array(['ABW', 'AND', 'AFG', 'AGO', 'ALB', 'ARE', 'ARG', 'ARM', 'ATG',
       'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR',
       'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL', 'BRA', 'BRB',
       'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV',
       'CMR', 'COG', 'COL', 'COM', 'CPV', 'CRI', 'CUB', 'CYM', 'CYP',
       'CZE', 'DEU', 'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY',
       'ERI', 'ESP', 'EST', 'ETH', 'FIN', 'FJI', 'FRA', 'FRO', 'FSM',
       'GAB', 'GBR', 'GEO', 'GHA', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC',
       'GRD', 'GRL', 'GTM', 'GUY', 'HKG', 'HND', 'HRV', 'HTI', 'HUN',
       'IDN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM',
       'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR',
       'KWT', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LIE', 'LKA', 'LSO',
       'LTU', 'LUX', 'LVA', 'MAC', 'MAR', 'MDA', 'MDG', 'MDV', 'MEX',
       'MHL', 'MKD', 'MLI', 'MLT', 'MMR', 'MNE', 'MNG', 'MOZ', 'MRT',
       'MUS', 'MWI', 'MYS', 'NAM', 'NCL', 'NER', 'NGA', 'NIC', 'NLD',
       'NOR', 'NPL', 'NZL', 'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PLW',
       'PNG', 'POL', 'PRK', 'PRT', 'PRY', 'PYF', 'QAT', 'ROU', 'RUS',
       'RWA', 'SAU', 'SDN', 'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SOM',
       'SRB', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SYC', 'SYR',
       'TCA', 'TCD', 'TGO', 'THA', 'TJK', 'TKM', 'TLS', 'TON', 'TTO',
       'TUN', 'TUR', 'TZA', 'UGA', 'UKR', 'URY', 'USA', 'UZB', 'VCT',
       'VEN', 'VNM', 'VUT', 'PSE', 'WSM', 'YEM', 'ZAF', 'COD', 'ZMB',
       'ZWE'], dtype=object)

In [27]:
CO2['Región'].unique()

array(['América Latina y Caribe', 'Europa y Asia Central', 'Sur de Asia',
       'África subsahariana', 'Oriente Medio y Norte de África',
       'Asia Oriental y Asia-Pacífico', 'Norteamérica'], dtype=object)

In [24]:
#Cantidad de paises
len(CO2['Nombre del país'].unique())

199

In [25]:
#Cantidad de codigos
len(CO2['Código de país'].unique())

199

In [26]:
#Cantidad de regiones
len(CO2['Región'].unique())

7

In [28]:
CO2['Región'].value_counts()

Región
África subsahariana                2299
Europa y Asia Central              1828
América Latina y Caribe            1811
Asia Oriental y Asia-Pacífico      1504
Oriente Medio y Norte de África    1048
Sur de Asia                         383
Norteamérica                        156
Name: count, dtype: int64

In [29]:
CO2['Código de país'].value_counts()

Código de país
HND    52
TTO    52
KNA    52
KOR    52
TON    52
       ..
TLS    10
LSO     7
MNE     7
SRB     6
LIE     5
Name: count, Length: 199, dtype: int64

In [30]:
CO2['Nombre del país'].value_counts()

Nombre del país
Honduras                  52
Trinidad y Tobago         52
San Cristóbal y Nieves    52
Corea (República)         52
Tonga                     52
                          ..
Timor Oriental            10
Lesoto                     7
Montenegro                 7
Serbia                     6
Liechtenstein              5
Name: count, Length: 199, dtype: int64